.projects-section {
  padding: 80px 0 80px;
  background-color: #fff;
  position: relative;
}

.carousel.carousel-slider {
  box-shadow: 0 0px 20px -2px black;
}

.carousel .thumb {
  box-shadow: 0 0px 20px -2px black;
}

#project-name {
  color: var(--light-blue);
}

.carousel .slide .legend,
a,
i,
p {
  color: var(--light-blue);
}

.carousel .slide .legend {
  color: var(--light-blue);
}

.carousel .slide a:hover {
  color: #fff;
  transition: 0.3s;
}

.carousel.control-next.control-arrow:before {
  border-left: 8px solid var(--light-blue);
}

.carousel.control-prev.control-arrow:before {
  border-right: 8px solid var(--light-blue);
}

.footer-wave {
  position: absolute;
  width: 100%;
  height: 110px;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #project-name {
    font-size: 8px;
  }
  .carousel-wrapper{
    max-width: 100%;
  }
}
